.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
build/_headers
build/*.asar
build/service-worker.js
build/version.json
build/*.png
build/precache-*.js